#contactus {
  background-color: #FDF4EC;

  .have {
    margin: 0 210px;
    padding: 110px 0 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;

    .head_contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 17px;

      h2 {
        font-family: "Albert Sans", sans-serif;
        font-size: 20px;
        color: #444;
      }

      .line {
        width: 90px;
        height: 1px;
        background-color: #b0abab;
      }

      h1 {
        font-family: $tenor_font;
        font-size: 50px;
        line-height: 58px;
        color: #000;
        font-weight: 400;
      }
    }

    .left_img {
      position: relative;
      margin-top: 30px;
      flex: 1;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 4px;
      }
    }

    .right {
      flex: 1;
      position: relative;
      margin-top: 300px; 

      .line {
        background-color: #fff;
        padding: 50px 40px 70px 40px;
        border-radius: 5px;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.03),
                    0 0 20px rgba(0, 0, 0, 0.08);
        position: absolute;
        top: 50%;
        left: -16.666%;
        width: 100%;
        transform: translateY(-50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 35px;
        transition: transform 0.2s ease;

        input {
          padding: 12px 16px;
          border: none;
          border-bottom: 1px solid #ccc;
          border-radius: 0;
          outline: none;
          width: 100%;
          color: #888;
          min-height: 60px;
          font-family: "Albert Sans", sans-serif;
          font-size: 17px;
        }
      }
      button{
        border: 1px solid grey;
        background-color: #fff;
        width: 190px;
        font-size: 19px;
        border-radius: 4px;
        padding: 20px 30px;
        &:hover{
          background-color: black;
          color: white;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .have {
      margin: 0 30px;
      flex-direction: column;

      .right {
        margin-top: 50px;

        .line {
          position: relative;
          top: auto;
          left: 0;
          transform: none;
          width: 100%;
        }
      }
    }
  }

  // 📱 Mobile (max 768px)
  @media (max-width: 768px) {
    .have {
      margin: 0 20px;

      .head_contact h1 {
        font-size: 34px;
        line-height: 40px;
      }

      .right {
        margin-top: 40px;

        .line {
          padding: 20px;
          gap: 15px;
        }

        input {
          font-size: 15px;
          padding: 10px;
        }
      }

      .left_img {
        margin-top: 30px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
