@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#products .delivered .product_title .product_category .cards .cards_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header #navbar {
  padding: 0px 50px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header #navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.7098039216);
  box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.147);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header #navbar .logo img {
  width: 151px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #navbar .category ul {
  display: flex;
  gap: 20px;
}
header #navbar .category ul li {
  padding: 40px 0 40px 0;
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-family: "Albert Sans", sans-serif;
  color: #e1e1e1;
}
header #navbar .category ul li a {
  color: #000000;
}
header #navbar .header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #navbar .header-right .search-form {
  justify-content: space-between;
  border-radius: 25px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  display: flex;
  min-width: 120px;
  min-height: 40px;
  background-color: transparent;
  width: 268px;
  height: 40px;
  padding: 0px 20px;
}
header #navbar .header-right .search-form input {
  background-color: transparent;
  font-size: 18px;
  outline: none;
  line-height: 2rem;
  padding: 0px 20px;
  border: none;
}
header #navbar .header-right .search-form .icon {
  justify-content: center;
  background-color: #738060;
  min-width: 26px;
  min-height: 40px;
  align-items: center;
  display: flex;
  border-radius: 0px 25px 25px 0px;
}
header #navbar .header-right .search-form .icon i {
  color: white;
}
header #navbar .header-right .user-actions {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
header #navbar .header-right .user-actions a {
  font-size: 18px;
  font-family: "Albert Sans", sans-serif;
  color: #000000;
}
header #navbar .header-right .user-actions a i {
  font-size: 24px;
}
header #navbar .header-right .user-actions .burger {
  display: none;
}
@media screen and (max-width: 768px) {
  header #navbar a {
    font-size: 18px;
    font-family: "Albert Sans", sans-serif;
    color: #000000;
    display: none;
  }
  header #navbar a i {
    font-size: 24px;
  }
  header #navbar .burger {
    display: block;
  }
  header #navbar .search-form {
    display: none;
  }
  header #navbar .header-right {
    display: none;
  }
  header #navbar .category {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header #navbar a {
    font-size: 18px;
    font-family: "Albert Sans", sans-serif;
    color: #000000;
    display: none;
  }
  header #navbar a i {
    font-size: 24px;
  }
  header #navbar .burger {
    display: block;
  }
  header #navbar .search-form {
    display: none;
  }
  header #navbar .header-right {
    display: none;
  }
  header #navbar .category {
    display: none;
  }
}
header .swiper-slide {
  overflow: hidden;
  position: relative;
  padding-bottom: 260px;
  min-height: 950px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .swiper-slide .svg-wave {
  position: absolute;
  bottom: -24%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  pointer-events: none;
}
header .swiper-slide .path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path("M 0,400 L 0,150 C 57.776923076923055,155.23589743589744 115.55384615384611,160.47179487179488 195,171 C 274.4461538461539,181.52820512820512 375.5615384615386,197.34871794871793 473,176 C 570.4384615384614,154.65128205128207 664.1999999999999,96.13333333333333 752,78 C 839.8000000000001,59.86666666666667 921.6384615384616,82.11794871794874 991,117 C 1060.3615384615384,151.88205128205126 1117.246153846154,199.3948717948718 1190,207 C 1262.753846153846,214.6051282051282 1351.376923076923,182.3025641025641 1440,150 L 1440,400 L 0,400 Z");
  }
  25% {
    d: path("M 0,400 L 0,150 C 93.22820512820513,132.9820512820513 186.45641025641027,115.96410256410256 275,101 C 363.54358974358973,86.03589743589744 447.40256410256416,73.12564102564102 521,93 C 594.5974358974358,112.87435897435898 657.9333333333334,165.53333333333333 740,186 C 822.0666666666666,206.46666666666667 922.8641025641025,194.74102564102566 999,170 C 1075.1358974358975,145.25897435897434 1126.6102564102564,107.5025641025641 1196,102 C 1265.3897435897436,96.4974358974359 1352.6948717948717,123.24871794871795 1440,150 L 1440,400 L 0,400 Z");
  }
  50% {
    d: path("M 0,400 L 0,150 C 105.65128205128207,148.75897435897434 211.30256410256413,147.5179487179487 284,132 C 356.69743589743587,116.48205128205129 396.4410256410256,86.68717948717946 463,99 C 529.5589743589744,111.31282051282054 622.9333333333334,165.73333333333335 722,182 C 821.0666666666666,198.26666666666665 925.8256410256411,176.37948717948717 1002,169 C 1078.174358974359,161.62051282051283 1125.7641025641026,168.74871794871794 1194,168 C 1262.2358974358974,167.25128205128206 1351.1179487179488,158.62564102564102 1440,150 L 1440,400 L 0,400 Z");
  }
  75% {
    d: path("M 0,400 L 0,150 C 104.48461538461538,108.15641025641025 208.96923076923076,66.31282051282051 277,81 C 345.03076923076924,95.68717948717949 376.60769230769233,166.90512820512825 455,166 C 533.3923076923077,165.09487179487175 658.6,92.06666666666666 755,78 C 851.4,63.933333333333344 918.9923076923078,108.82820512820513 977,112 C 1035.0076923076922,115.17179487179487 1083.4307692307693,76.62051282051283 1159,76 C 1234.5692307692307,75.37948717948717 1337.2846153846153,112.68974358974359 1440,150 L 1440,400 L 0,400 Z");
  }
  100% {
    d: path("M 0,400 L 0,150 C 57.776923076923055,155.23589743589744 115.55384615384611,160.47179487179488 195,171 C 274.4461538461539,181.52820512820512 375.5615384615386,197.34871794871793 473,176 C 570.4384615384614,154.65128205128207 664.1999999999999,96.13333333333333 752,78 C 839.8000000000001,59.86666666666667 921.6384615384616,82.11794871794874 991,117 C 1060.3615384615384,151.88205128205126 1117.246153846154,199.3948717948718 1190,207 C 1262.753846153846,214.6051282051282 1351.376923076923,182.3025641025641 1440,150 L 1440,400 L 0,400 Z");
  }
}
header .swiper-slide .head_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header .swiper-slide .head_text h1 {
    font-size: 10px;
  }
}
header .swiper-slide .head_text h2 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 22px;
  line-height: 1.4em;
  color: #FFF;
}
header .swiper-slide .head_text h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 100px;
  color: #FFF;
}
header .swiper-slide .head_text h3 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5em;
  color: #FFF;
}
header .swiper-slide .head_text button {
  background-color: #FEF5EC;
  font-family: "Albert Sans", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6em;
  fill: #000;
  color: #000;
  --fill-color: #738060;
  border-radius: 4px 4px 4px 4px;
  padding: 12px 36px 12px 36px;
  border: none;
}

#footer {
  background-color: #fff;
  padding: 60px 0;
  font-family: "Albert Sans", Sans-serif;
  color: #000000;
  position: relative;
}
#footer #wave {
  position: absolute;
  top: -154px;
}
#footer .container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
#footer .footer_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}
#footer .footer_top .footer_logo {
  flex: 1;
  min-width: 250px;
}
#footer .footer_top .footer_logo img {
  width: 120px;
  margin-bottom: 10px;
}
#footer .footer_top .footer_logo p {
  margin: 10px 0;
  font-size: 16px;
}
#footer .footer_top .footer_logo .app_buttons {
  display: flex;
  gap: 10px;
}
#footer .footer_top .footer_logo .app_buttons img {
  width: 130px;
  height: auto;
  cursor: pointer;
}
#footer .footer_top .footer_links {
  flex: 3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
#footer .footer_top .footer_links ul {
  list-style: none;
  padding: 0;
}
#footer .footer_top .footer_links ul li {
  margin-bottom: 20px;
  font-size: 19px;
  font-family: "Albert Sans", Sans-serif;
}
#footer .footer_top .footer_links ul li:first-child {
  font-weight: 600;
  margin-bottom: 12px;
}
#footer .footer_top .footer_links ul.contact_info {
  font-size: 17px;
}
#footer .footer_top .footer_links ul.contact_info .call {
  font-size: 40px;
  font-family: "Tenor Sans", Sans-serif;
}
#footer .footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  text-align: center;
}
#footer .footer_bottom p {
  font-size: 14px;
  margin-bottom: 15px;
}
#footer .footer_bottom .payments {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
#footer .footer_bottom .payments img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 992px) {
  #footer .footer_top {
    flex-direction: column;
    align-items: center;
  }
  #footer .footer_top .footer_links {
    flex-direction: column;
    align-items: center;
  }
  #footer .footer_top .footer_links ul {
    text-align: center;
  }
  #footer .footer_logo {
    text-align: center;
  }
  #footer .footer_logo .app_buttons {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  #footer .footer_logo img {
    width: 100px;
  }
  #footer .footer_logo .app_buttons img {
    width: 110px;
  }
  #footer .footer_links ul li {
    font-size: 14px;
  }
  #footer .footer_bottom p {
    font-size: 13px;
  }
  #footer .footer_bottom .payments img {
    width: 30px;
  }
}

#start {
  background-color: #FDF5EC;
}
#start .journey {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  flex-direction: column;
}
#start .journey h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
}
#start .journey .line {
  text-align: center;
  width: 90px;
  height: 1px;
  border: 1px solid #b0abab;
}
#start .journey h3 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #444444;
}
#start .cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#start .cards .card_img {
  width: 200px;
  height: 200px;
  border: 1px;
  border-color: #728060;
  border-style: dashed;
  border-radius: 50%;
  overflow: hidden;
}
#start .cards .card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s ease;
}
#start .cards .card_img img:hover {
  transform: scale(1.08);
}
#start .cards .card_body {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}
#start .cards .card_body h2 {
  text-align: center;
  font-size: 28px;
  color: #000000;
  font-family: "Tenor Sans", Sans-serif;
  font-weight: 400;
}
#start .cards .card_body h4 {
  font-size: 18px;
  line-height: 27px;
  color: #444444;
  font-family: "Albert Sans", Sans-serif;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#slide {
  background-color: #FDF5EC;
  padding-top: 100px;
}
#slide marquee {
  background-color: #728060;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFF;
  color: #FFF;
  padding: 0 0 0 0;
  font-size: 18px;
  font-family: "Albert Sans", Sans-serif;
}
#slide ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#slide ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#elementor {
  background-color: #FFFFFF;
  margin: 100px 0;
}
#elementor .left .left_head_text {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  flex-direction: column;
}
#elementor .left .left_head_text h3 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #444444;
}
#elementor .left .left_head_text .line {
  text-align: center;
  width: 90px;
  height: 1px;
  border: 1px solid #b0abab;
}
#elementor .left .left_head_text h1 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
}
#elementor .left .left_img {
  margin: 40px 0;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}
#elementor .left .left_img img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 100%;
}
#elementor .left .left_img .position_img {
  position: absolute;
  top: 0;
  left: 80px;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
  will-change: transform;
  z-index: 2;
}
#elementor .right {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
#elementor .right .right_img {
  width: 550px;
  height: 650px;
}
#elementor .right .right_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-in-out;
}
#elementor .right .right_img img:hover {
  transform: scale(1.1);
}
#elementor .right .right_text p {
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #444444;
}

@media screen and (max-width: 992px) {
  .right .position_img img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .right .position_img img {
    display: none;
  }
}
#products {
  padding: 50px 0;
  background-color: #738363;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}
#products .delivered .head_text {
  padding-top: 100px;
}
#products .delivered .head_text h1 {
  text-align: center;
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 1.4em;
  color: #FFF;
}
#products .delivered .product_title {
  margin: 40px 0;
}
#products .delivered .product_title ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .delivered .product_title ul li {
  padding: 20px 80px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Albert Sans", Sans-serif;
  border-radius: 50px 50px 0px 0px;
  color: #FFF;
}
#products .delivered .product_title ul li:hover {
  transition: 0.4s ease-in-out;
  color: #444444;
  background-color: #FEF5EC;
}
#products .delivered .product_title .product_category {
  padding: 70px 60px;
  background-color: #FFF;
  width: 100%;
  border-radius: 40px;
}
#products .delivered .product_title .product_category .col-xl-12 {
  margin-bottom: 26px;
}
#products .delivered .product_title .product_category .cards {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
#products .delivered .product_title .product_category .cards .cards_img {
  width: 94px;
  height: 94px;
}
#products .delivered .product_title .product_category .cards .cards_body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#products .delivered .product_title .product_category .cards .cards_body h2 {
  color: #000000;
  font-family: "Albert Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
#products .delivered .product_title .product_category .cards .cards_body .star i {
  font-size: 16px;
}
#products .delivered .product_title .product_category .cards .cards_body h3 {
  font-family: "Albert Sans", Sans-serif;
  display: flex;
  gap: 10px;
  font-size: 17px;
  color: #000000;
}
#products .delivered .product_title .product_category .cards .cards_body h3 span {
  text-decoration: line-through;
  color: #444444;
}

@media screen and (max-width: 992px) {
  #products .product_title ul li {
    padding: 15px 40px;
    font-size: 18px;
  }
  #products .product_title .product_category {
    padding: 40px 30px;
  }
  #products .product_title .product_category .cards {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  #products .delivered .head_text h1 {
    font-size: 32px;
  }
  #products .product_title {
    margin: 30px 0;
  }
  #products .product_title ul li {
    padding: 10px 20px;
    font-size: 16px;
  }
  #products .product_title .product_category {
    padding: 30px 20px;
    border-radius: 20px;
  }
  #products .product_title .product_category .cards {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  #products .product_title .product_category .cards .cards_img img {
    width: 70px;
    height: 70px;
  }
  #products .product_title .product_category .cards .cards_body h2 {
    font-size: 15px;
  }
  #products .product_title .product_category .cards .cards_body h3 {
    font-size: 14px;
  }
  #products .product_title .product_category .cards .cards_body .star i {
    font-size: 13px;
  }
}
#history {
  background-color: #FEF5EC;
}
#history .left {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 50px 0 100px;
}
#history .left h2 {
  font-size: 20px;
  font-family: "Albert Sans", Sans-serif;
  color: #444444;
}
#history .left .line {
  text-align: center;
  width: 90px;
  height: 1px;
  border: 1px solid #b0abab;
}
#history .left h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
}
#history .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#history .right p {
  font-family: "Albert Sans", Sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #444444;
}
#history .number {
  padding: 20px 0;
}
#history .number h2 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #738060;
}
#history .timeline-line {
  position: relative;
  padding: 30px 0;
}
#history .timeline-line .line-full {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #738060;
  z-index: 1;
}
#history .timeline-line .dot {
  width: 12px;
  height: 12px;
  background-color: #738060;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}
#history .history_text {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 0;
}
#history .history_text h2 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #000000;
}
#history .history_text h4 {
  font-size: 18px;
  color: #444444;
  font-family: "Albert Sans", Sans-serif;
  line-height: 1.6;
}

#everyone {
  background-color: #FFF;
  padding: 50px 0;
  position: relative;
}
#everyone .product-card {
  width: 250px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
#everyone .product-card .product-img {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
#everyone .product-card .product-img img {
  width: 100%;
  transition: 0.3s ease;
  border-radius: 12px;
}
#everyone .product-card .product-img .product-icons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: 0.3s ease;
}
#everyone .product-card .product-img .product-icons i {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
#everyone .product-card .product-img .product-icons i:hover {
  background-color: #000000;
  color: #FFF;
}
#everyone .product-card .product-img:hover img {
  transform: scale(1.1);
}
#everyone .product-card .product-img:hover .product-icons {
  opacity: 1;
}
#everyone .product-card .product-info {
  margin-top: 12px;
}
#everyone .product-card .product-info .category {
  font-size: 13px;
  color: #888;
}
#everyone .product-card .product-info .name {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  color: #000000;
}
#everyone .product-card .product-info .price {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#everyone .product-card .product-info .price del {
  color: #aaa;
  font-size: 14px;
}
#everyone .product-card .product-info .price span {
  color: #000000;
  font-weight: 600;
}
#everyone .head_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
#everyone .head_text h2 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
}
#everyone .head_text .line {
  text-align: center;
  width: 90px;
  height: 1px;
  border: 1px solid #b0abab;
}
#everyone .head_text h3 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #444444;
}
#everyone .cards {
  cursor: pointer;
  transition: 0.3s;
}
#everyone .cards .cards_img {
  position: relative;
  overflow: hidden;
}
#everyone .cards .cards_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
#everyone .cards .cards_img .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: 0.3s ease;
}
#everyone .cards .cards_img .icons i {
  background-color: white;
  border-radius: 50%;
  color: #7a7878;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
#everyone .cards .cards_img .icons i:hover {
  background-color: #e7e7e7;
}
#everyone .cards .cards_img:hover img {
  transform: scale(1.1);
}
#everyone .cards .cards_img:hover .icons {
  opacity: 1;
}
#everyone .cards .cards_body {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
#everyone .cards .cards_body h4 {
  margin-bottom: 3px;
  color: #666666;
  font-size: 15px;
  font-family: "Albert Sans", Sans-serif;
}
#everyone .cards .cards_body h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Albert Sans", Sans-serif;
  color: #000000;
}
#everyone .cards .cards_body .star i {
  font-size: 16px;
}
#everyone .cards .cards_body .price {
  margin-bottom: 7px;
  font-size: 17px;
  font-family: "Albert Sans", Sans-serif;
}
#everyone .cards .cards_body .price del {
  color: #000000;
}
#everyone .cards .cards_body .price span {
  color: #738060;
}

#timer {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  height: 593px;
  opacity: 100%;
  position: relative;
}
#timer #wavetop {
  position: absolute;
  top: -46px;
}
#timer #wave {
  position: absolute;
  bottom: -50px;
}
#timer .content {
  background-color: rgba(99, 134, 47, 0.3529411765);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#timer .left {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
#timer .left h2 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #e1e0e0;
}
#timer .left .line {
  text-align: center;
  width: 90px;
  height: 1px;
  border: 1px solid #b0abab;
}
#timer .left h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #FFF;
}
#timer .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  height: 100%;
}
#timer .right .timer-box {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
#timer .right .timer-box .timer-item {
  border: 1px solid white;
  box-shadow: 10px;
  padding: 30px 30px;
  text-align: center;
  border-radius: 6px;
}
#timer .right .timer-box .timer-item .time {
  font-size: 45px;
  color: white;
  font-weight: bold;
  font-family: "Albert Sans", Sans-serif;
  display: block;
}
#timer .right .timer-box .timer-item .label {
  font-size: 12px;
  color: #e2e2e2;
  font-family: "Albert Sans", Sans-serif;
  display: block;
  margin-top: 5px;
}
#timer .right .explore-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 191px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-family: "Albert Sans", Sans-serif;
  font-size: 18px;
  transition: 0.3s ease;
}
#timer .right .explore-btn a:hover {
  background-color: white;
  color: #63862f;
}

#business {
  margin-top: 110px;
}
#business #wave {
  margin-top: 80px;
}
#business .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
#business .cards .cards_img img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
#business .cards .cards_body {
  margin: 26px 0;
}
#business .cards .cards_body h2 {
  font-family: "Tenor Sans", Sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin-bottom: 0.7rem;
}
#business .cards .cards_body h3 {
  margin-bottom: 1.43rem;
  font-size: 18px;
  line-height: 26px;
  color: #444444;
  font-family: "Tenor Sans", Sans-serif;
  text-align: center;
}

#interesting {
  background-color: #FDF4EC;
  padding: 120px 0;
}
#interesting .head_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
#interesting .head_title h2 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #444444;
}
#interesting .head_title .line {
  text-align: center;
  width: 90px;
  height: 1px;
  border: 1px solid #b0abab;
}
#interesting .head_title h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
  text-align: center;
}
#interesting .cards {
  margin: 50px 0;
}
#interesting .cards .cards_img {
  position: relative;
  overflow: hidden;
}
#interesting .cards .cards_img img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease-in-out;
  width: 100%;
  height: auto;
}
#interesting .cards .cards_img img:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}
#interesting .cards .cards_img .position_btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
#interesting .cards .cards_img .position_btn button {
  color: #000000;
  background-color: #FFF;
  border-radius: 100px 100px 100px 100px;
  border: none;
  padding: 0.4em 0.5em;
  margin: 0 3px 5px;
}
#interesting .cards .cards_body {
  margin: 20px 0;
}
#interesting .cards .cards_body h3 {
  text-align: center;
  color: #000;
  font-size: 21px;
  font-family: "Tenor Sans", Sans-serif;
  line-height: 30px;
}

#our_blog {
  background-color: #FFF;
  padding: 120px 0;
}
#our_blog .head {
  font-size: 16px;
  color: #666464;
  padding-left: 54px;
  text-align: left;
}
#our_blog .products {
  margin-top: 100px;
}
#our_blog .products .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
#our_blog .products .title h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
  text-align: center;
}
#our_blog .products .cards {
  margin: 50px 0;
}
#our_blog .products .cards .cards_img {
  position: relative;
  overflow: hidden;
}
#our_blog .products .cards .cards_img img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease-in-out;
  width: 100%;
  height: auto;
}
#our_blog .products .cards .cards_img img:hover {
  transform: scale(1.1);
}
#our_blog .products .cards .cards_img .position_btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
#our_blog .products .cards .cards_img .position_btn button {
  color: #000000;
  background-color: #FFF;
  border-radius: 100px;
  border: none;
  padding: 0.4em 0.5em;
  margin: 0 3px 5px;
}
#our_blog .products .cards .cards_body {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-direction: column;
}
#our_blog .products .cards .cards_body h3 {
  text-align: center;
  color: #000;
  font-size: 21px;
  font-family: "Tenor Sans", Sans-serif;
  line-height: 30px;
}
#our_blog .products .cards .cards_body .read-more {
  position: relative;
  display: inline-block;
  color: #738060;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1px;
}
#our_blog .products .cards .cards_body .read-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background-color: #738060;
  transition: width 0.4s ease;
}
#our_blog .products .cards .cards_body .read-more:hover::after {
  width: 100%;
}
@media screen and (max-width: 992px) {
  #our_blog .cards_body h3 {
    font-size: 18px;
  }
  #our_blog .read-more {
    font-size: 15px;
  }
  #our_blog .head {
    padding-left: 20px;
  }
  #our_blog .title h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media screen and (max-width: 768px) {
  #our_blog .title h1 {
    font-size: 32px;
    line-height: 42px;
  }
  #our_blog .cards_body h3 {
    font-size: 17px;
    line-height: 26px;
  }
  #our_blog .read-more {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  #our_blog .title h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #our_blog .cards {
    margin: 30px 0;
  }
  #our_blog .cards_body {
    gap: 10px;
  }
  #our_blog .cards_body h3 {
    font-size: 16px;
  }
  #our_blog .read-more {
    font-size: 13px;
  }
  #our_blog .head {
    font-size: 14px;
    padding-left: 12px;
  }
}
#our_blog .finish {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#our_blog .finish ul {
  display: flex;
  gap: 16px;
}
#our_blog .finish ul li {
  font-size: 19px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#our_blog .finish ul li:hover {
  background-color: #738060;
  color: white;
}

#nav_head {
  padding-top: 94px;
}
#nav_head .shop_nav {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.851) 30%, rgba(0, 0, 0, 0.502) 60%, rgba(0, 0, 0, 0) 100%), url("https://xstore.b-cdn.net/elementor3/organic-milk-farm/wp-content/uploads/sites/13/2025/03/sheep-bg.jpg") center/cover no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  font-family: "Albert Sans", sans-serif;
}
#nav_head .shop_nav .shop_nav_text {
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#nav_head .shop_nav .shop_nav_text h4 {
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "Albert Sans", Sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  color: #FFF;
}
#nav_head .shop_nav .shop_nav_text h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 72px;
  color: #FFF;
}
#nav_head .shop_nav .shop_nav_text h2 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  color: #FFF;
}
#nav_head .shop_nav .shop_nav_text button {
  background-color: #FFF;
  font-family: "Albert Sans", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  fill: #000;
  color: #000;
  height: 52px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 208px;
}
#nav_head .shop_nav .shop_nav_text button:hover {
  background-color: #738060;
  border: none;
  color: #FFF;
}

#blog_products {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #FDF5EC;
}
#blog_products .product .cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#blog_products .product .cards .card_img {
  width: 166px;
  height: 166px;
  border: 1px;
  border-color: #728060;
  border-style: dashed;
  border-radius: 50%;
  overflow: hidden;
}
#blog_products .product .cards .card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s ease;
}
#blog_products .product .cards .card_img img:hover {
  transform: scale(1.08);
}
#blog_products .product .cards .card_body {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}
#blog_products .product .cards .card_body h2 {
  text-align: center;
  font-size: 22px;
  color: #000000;
  font-family: "Tenor Sans", Sans-serif;
  font-weight: 300;
}

#our_shop {
  padding-top: 100px 0;
  background-color: #fff;
}
#our_shop .shop_title {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#our_shop .shop_title h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 58px;
  color: #000;
  font-weight: 400;
}
#our_shop .shop_title p {
  padding: 0% 15% 0% 15%;
  text-align: center;
  font-family: "Albert Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  color: #605f5f;
}
#our_shop .shop_filters {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
#our_shop .shop_filters .dropdown {
  position: relative;
}
#our_shop .shop_filters .dropdown .dropbtn {
  text-align: start;
  width: 318px;
  height: 48px;
  background-color: #fff;
  font-size: 20px;
  color: #444;
  font-weight: 300;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e1e1e1;
  padding: 8px 20px 8px 20px;
  border-radius: 4px 4px 4px 4px;
}
#our_shop .shop_filters .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  min-width: 318px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
#our_shop .shop_filters .dropdown .dropdown-content a {
  padding: 20px 20px;
  display: block;
  text-decoration: none;
  color: #333;
}
#our_shop .shop_filters .dropdown .dropdown-content a:hover {
  background-color: #f2f2f2;
}
#our_shop .shop_filters .dropdown:hover .dropdown-content {
  display: block;
}
#our_shop .shop_filters select {
  text-align: start;
  width: 318px;
  height: 48px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
  color: #444;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e1e1e1;
  padding: 8px 20px 8px 20px;
  border-radius: 4px 4px 4px 4px;
}
#our_shop .shop_filters .search_btn {
  width: 318px;
  height: 45px;
  padding: 12px 20px;
  background-color: #7c8b5c;
  border: none;
  border-radius: 6px;
  font-family: "Albert Sans", Sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
#our_shop .shop_filters .search_btn i {
  margin-right: 6px;
  width: 19px;
}
#our_shop .shop_filters .search_btn:hover {
  background-color: black;
  color: white;
}

#our_shop_products {
  padding-top: 50px;
}
#our_shop_products .cards {
  cursor: pointer;
  transition: 0.3s;
}
#our_shop_products .cards .cards_img {
  position: relative;
  overflow: hidden;
}
#our_shop_products .cards .cards_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
#our_shop_products .cards .cards_img .position_btn {
  position: absolute;
  top: 20px;
  left: 14px;
  z-index: 3;
}
#our_shop_products .cards .cards_img .position_btn button {
  width: 78px;
  height: 25px;
  font-size: 12px;
  padding: 3px 8px;
  border: none;
  background-color: #738060;
  color: #fff;
  font-weight: 200;
  font-family: "Albert Sans", Sans-serif;
}
#our_shop_products .cards .cards_img .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: 0.3s ease;
}
#our_shop_products .cards .cards_img .icons i {
  background-color: white;
  border-radius: 50%;
  color: #7a7878;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
#our_shop_products .cards .cards_img .icons i:hover {
  background-color: #e7e7e7;
}
#our_shop_products .cards .cards_img:hover img {
  transform: scale(1.1);
}
#our_shop_products .cards .cards_img:hover .icons {
  opacity: 1;
}
#our_shop_products .cards .cards_body {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
#our_shop_products .cards .cards_body h4 {
  margin-bottom: 3px;
  color: #666666;
  font-size: 15px;
  font-family: "Albert Sans", Sans-serif;
}
#our_shop_products .cards .cards_body h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Albert Sans", Sans-serif;
  color: #000000;
}
#our_shop_products .cards .cards_body .star i {
  font-size: 16px;
}
#our_shop_products .cards .cards_body .price {
  margin-bottom: 7px;
  font-size: 17px;
  font-family: "Albert Sans", Sans-serif;
}
#our_shop_products .cards .cards_body .price del {
  color: #000000;
}
#our_shop_products .cards .cards_body .price span {
  color: #738060;
}
#our_shop_products .finish {
  padding-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#our_shop_products .finish ul {
  display: flex;
  gap: 16px;
}
#our_shop_products .finish ul li {
  font-size: 19px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#our_shop_products .finish ul li:hover {
  background-color: #738060;
  color: white;
}
#our_shop_products .finish ul .one {
  background-color: #738060;
  color: #fff;
}

#farm-fresh {
  margin: 100px 0;
}
#farm-fresh .shop_nav {
  background: url("https://xstore.b-cdn.net/elementor3/organic-milk-farm/wp-content/uploads/sites/13/2025/03/Banner-1-1.jpg") center/cover no-repeat;
  height: 370px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 70px;
  font-family: "Albert Sans", sans-serif;
}
#farm-fresh .shop_nav .shop_nav_text {
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#farm-fresh .shop_nav .shop_nav_text h4 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  color: #FFF;
}
#farm-fresh .shop_nav .shop_nav_text h1 {
  font-family: "Tenor Sans", Sans-serif;
  font-size: 50px;
  line-height: 1.5em;
  color: #FFF;
}
#farm-fresh .shop_nav .shop_nav_text h2 {
  font-family: "Albert Sans", Sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  color: #FFF;
}
#farm-fresh .shop_nav .shop_nav_text button {
  background-color: #FFF;
  font-family: "Albert Sans", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  fill: #000;
  color: #000;
  width: 190px;
  border: none;
  height: 51px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 208px;
}
#farm-fresh .shop_nav .shop_nav_text button:hover {
  background-color: #738060;
  border: none;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */