#always{
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    height: 736px;
    opacity: 100%;
    position: relative;

    #wavetop {
        position: absolute;
        top: -46px;
    }

    #wave {
        position: absolute;
        bottom: -50px;
    }
    .always_swiper{
        background-color: #728060e6;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .cards{
            .title{
                h2{
                    color: #fff;
                    text-align: start;
                    font-size: 30px;
                    font-family: "Tenor Sans",Sans-serif;
                    font-weight: 300;
                    line-height: 1.6;
                }
            }
            .body{
                .star{
padding-top: 40px;
                }
                .body_finish{
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h3{
                        font-family: "Albert Sans", Sans-serif;
                        font-size: 17px;
                        font-weight: 500;
                        color: #FFF;
                        font-weight: 400;
                        margin: 0 0 0 0;
                    }
                    h4{
                        font-family: "Albert Sans", Sans-serif;
                        font-size: 15px;
                        color: #FFF;
                        margin: 0 0 0 0;
                        font-weight: 300;
                    }
                }

            }
        }
    }
}