#footer {
    background-color: #fff;
    padding: 60px 0;
    font-family: $albert_font;
    color: $text-dark;
    position: relative;

    #wave {
        position: absolute;
        top: -154px;
    }

    .container {
        max-width: 1300px;
        margin: auto;
        padding: 0 20px;
    }

    .footer_top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 40px;

        .footer_logo {
            flex: 1;
            min-width: 250px;

            img {
                width: 120px;
                margin-bottom: 10px;
            }

            p {
                margin: 10px 0;
                font-size: $font-li-sm;
            }

            .app_buttons {
                display: flex;
                gap: 10px;

                img {
                    width: 130px;
                    height: auto;
                    cursor: pointer;
                }
            }
        }

        .footer_links {
            flex: 3;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 20px;
                    font-size: 19px;
                    font-family: $albert_font;
              

                    &:first-child {
                        font-weight: 600;
                        margin-bottom: 12px;
                    }
                }

                &.contact_info {
                    font-size: 17px;

                    .call {
                        font-size: 40px;
                        font-family: $tenor_font;
                    }
                }
            }
        }
    }

    .footer_bottom {
        @include flex(center,space-between,null,null);
        border-top: 1px solid #ddd;
        padding-top: 20px;
        text-align: center;

        p {
            font-size: $font-h3-sm;
            margin-bottom: 15px;
        }

        .payments {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;

            img {

                height: auto;
                object-fit: contain;
            }
        }
    }


    @media (max-width: 992px) {
        .footer_top {
            flex-direction: column;
            align-items: center;

            .footer_links {
                flex-direction: column;
                align-items: center;

                ul {
                    text-align: center;

                }
            }
        }

        .footer_logo {
            text-align: center;

            .app_buttons {
                justify-content: center;
            }
        }
    }

    @media (max-width: 576px) {
        .footer_logo {
            img {
                width: 100px;
            }

            .app_buttons img {
                width: 110px;
            }
        }

        .footer_links ul li {
            font-size: 14px;



        }

        .footer_bottom {
            p {
                font-size: 13px;
            }

            .payments img {
                width: 30px;
            }
        }
    }
}